html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

canvas {
  display: block;
  outline: none;
  cursor: none;
  position: absolute;;
  left: 0px;
  top: 0px;
}

#wrapper {
  position: relative;
  width: 1000px;
  height: 580px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

#game {
  z-index: 1;
}

#scene {
  z-index: 2;
}
